<center>
  <h1>Create New User</h1>

  <form action="/user" method="post">
    <li> <label>Username:</label>
      <input type="text" name="user[username]"></li>

    <li> <label>Email::</label>
      <input type="text" name="user[email]"></li> 

    <li> <label>Password:</label>
      <input type="text" name="user[password]"></li>
      <input type="submit" value="Create" ></li>
  </form>
  
  <header><img src="https://cdn.pixabay.com/photo/2016/11/21/15/38/dock-1846008_1280.jpg"  alt="Image" height="200" width="350"></header>

</center>