<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>



    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Feetslocker</title>


    <meta name="description" content="_" />
<meta name="title" property="og:title" content="_" />
<meta property="og:type" content="_" />
<meta name="image" property="og:image" content="https://sneakernews.com/wp-content/uploads/2018/10/union-air-jordan-1-release-date-BV1300-106-4.jpg" />
<meta name="description" property="og:description" content="_" /><meta name="author" content="_" />




    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main1.css" />


  <% if logged_in? %>

  <a href= '/logout'>Logout</a>
    <center>
      <a href='/sneakers/new'> New Kicks </a>             
      ᛫ 
      <a href='/sneakers'>Home Locker  </a>
      </center>
  <% end %>
</head>
  <body>
  <div class="wrapper">
     <%= yield %>
   <footer class="branding">
        <small>&copy; 2020 <strong>Feetslocker</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>