<center>

  <h1>WELCOME</h1>

  <div class="container">
    <% if logged_in? %>
    <li>
        <a href='/sneakers'>Home Locker  </a>
        <p>  <img src="https://previews.dropbox.com/p/thumb/ABGI-cxe_bWL5MvPjRc41NBC2erbGsF7SS5h0KHa8Kofhk8GGNL9xXJXauvuMPi_l86TpBW1b-DLKTu9drt_H8YmGMl4_YgCeBv3w0wLU1lJLbQmR6eMRZ64CheFXEb7QfXTmDeGjysWca3YazUd7LE1uRhtGOSNmvi4ZTyEpfZeDrhKaRLd6Ep1C1USuwkgDyZ9gA9TbhL1nLrg3KP2h1jUj9dN1Aoy7VzoYG7cYuiQchQglfIzLmBTKy0IhwykwJlix1CY7AcK3fv6AaKN-IDnk7I4lrRzgI0INNXBEf8eCTj34acj1qYfM8n47FcNfGdZe_ElxHkziedtLRNDvBeEQDda7PntBwQSkFoqpdFQPg/p.jpeg?fv_content=true&size_mode=5"
          alt="FeetLockers" width="250" height="400" ></p>
    </li>
    <% else %>
        <li><a href="/login">LOGIN!</a></li>
          <img src="https://images.unsplash.com/photo-1559478293-ed32557862a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
          alt="FeetLockers" width="250" height="400" >
        <li><a href="/user">SIGNUP!</a></li>
    <% end %>
  </div>
</center>
