<center>

  <h1>WELCOME</h1>

  <div class="container">
    <% if logged_in? %>
    <li>
        <a href='/sneakers'>Home Locker  </a>
        <p>  <img src="https://images.unsplash.com/photo-1559478293-ed32557862a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
          alt="FeetLockers" width="250" height="400" ></p>
    </li>
    <% else %>
        <li><a href="/login">LOGIN!</a></li>
          <img src="https://images.unsplash.com/photo-1559478293-ed32557862a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
          alt="FeetLockers" width="250" height="400" >
        <li><a href="/user">SIGNUP!</a></li>
    <% end %>
  </div>
</center>
