<center>
<h1>Create New Sneaker</h1>

<form action="/sneakers"  method="post">

   <li> <label>Brand:</label>
    <input type="text" name="sneaker[brand]" placeholder="Jordan"></li>

  <li> <label>Style/Number:</label>
    <input type="text" name="sneaker[style]" placeholder="11"></li> 

   <li> <label>Shoe Name:</label>
    <input type="text" name="sneaker[name]" placeholder="Playoffs Bred"></li>

   <li> <label>Size:</label>
    <input type="text" name="sneaker[size]" placeholder="12"> ></li>

   <li> <label>Retail Price:</label>
    <input type="text" name="sneaker[retail]" placeholder="$175"> ></li>

   <li> <label>colorway:</label>
    <input type="text" name="sneaker[colorway]" placeholder="BLACK/WHITE-VARSITY RED"></li>

   <li> <label>Sku:</label>
    <input type="text" name="sneaker[sku]" placeholder="378037-061" ></li>
  
  <li> <label>Release:</label>
    <input type="text" name="sneaker[release]" placeholder="12/14/2019" ></li>
  

     <li> <label>Url Photo:</label>
    <input type="text" name="sneaker[imageurl]"></li>

    
    <input type="submit" ></li>

<p>need help? visit "stockx.com" for product details</p>


</form>
  
  </center>