<center>
  <h1>Create New Sneaker</h1>

  <form action="/sneakers"  method="post">
  <fieldset>
  <legend>login<legend>
    <li> <label>Brand:</label>
      <input type="text" name="sneaker[brand]" placeholder="Jordan"></li>

    <li> <label>Style/Number:</label>
      <input type="text" name="sneaker[style]" placeholder="11"></li> 

    <li> <label>Shoe Name:</label>
      <input type="text" name="sneaker[name]" placeholder="Playoffs Bred"></li>

    <li> <label>Size:</label>
      <input type="text" name="sneaker[size]" placeholder="12"> ></li>

    <li> <label>Retail Price:</label>
      <input type="text" name="sneaker[retail]" placeholder="$175"> ></li>

    <li> <label>colorway:</label>
      <input type="text" name="sneaker[colorway]" placeholder="BLACK/WHITE-VARSITY RED"></li>

    <li> <label>Sku:</label>
      <input type="text" name="sneaker[sku]" placeholder="378037-061" ></li>
    
    <li> <label>Release:</label>
      <input type="text" name="sneaker[release]" placeholder="12/14/2019" ></li>

    <li> <label>Url Photo:</label>
      <input type="text" name="sneaker[imageurl]" placeholder="https://stockx-360.imgix.net/Air-Jordan-11-Retro-Playoffs-2019/Images/Air-Jordan-11-Retro-Playoffs-2019/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1574092689&w=1000" ></li>
      <input type="submit"  value="Add Sneaker"></li>

    <p>need help? visit "stockx.com" for product details and Copy Image Address </p>
  </form>
 </fieldset>
      <%# <%= render 'sweetify/alert' %> %>

</center>